// **************** ABOUT ME SECTION ****************
hr
.section.full-height
    header
      h1 About Me
    p
        | I'm&nbsp
        span#age
        |  years old.
    // **************** ABOUT SECTION PARAGRAPH ONE ****************
    p.about-me-text I'm&nbsp
        b.colored-2 beautiful
        | , smart, funny, attactive,&nbsp
        b.colored beautiful
        | , creative,&nbsp
        b.colored-5 beautiful
        | , hard-working, dedicated, loving,&nbsp
        b.colored-4 beautiful
        | , smart,&nbsp
        b.colored-3 beautiful
        | , funny, and married to&nbsp
        em.heavy James
        | , who is also pretty amazing.
    // **************** ABOUT SECTION PARAGRAPH TWO ****************
    p.about-me-text
    // **************** ABOUT SECTION PARAGRAPH THREE ****************
    p.about-me-text
