block stylesheets
  link(rel='stylesheet' href='css/gallery.css')
hr
header.header
  h1 Portfolio Gallery
  p A collection of noteworthy project samples
section.flex-container
  .flex-item
    a.strip(data-strip-caption='Some Chinese Folks Rowing a Stupid Boat', data-strip-options='side: "top"', data-strip-group='strip-group', href='img/slides/slide-0.jpeg')
      img#flex-img(src='img/slides/slide-0.jpeg')
  .flex-item
    a.strip(data-strip-caption='A Firefly Enjoying Some Electronic Dance Music', data-strip-options='side: "top"', data-strip-group='strip-group', href='img/slides/slide-1.jpeg')
      img#flex-img(src='img/slides/slide-1.jpeg')
  .flex-item
    a.strip(data-strip-caption='Santa Claus Relaxing In Hot Tub, Dec. 26th', data-strip-options='side: "top"', data-strip-group='strip-group', href='img/slides/slide-2.jpeg')
      img#flex-img(src='img/slides/slide-2.jpeg')
  .flex-item
    a.strip(data-strip-caption='A Great White Shark Hunts A Lone Surfer', data-strip-options='side: "top"', data-strip-group='strip-group', href='img/slides/slide-3.jpeg')
      img#flex-img(src='img/slides/slide-3.jpeg')
  .flex-item
    a.strip(data-strip-caption='My Ant Colony', data-strip-options='side: "top"', data-strip-group='strip-group', href='img/slides/slide-4.jpeg')
      img#flex-img(src='img/slides/slide-4.jpeg')
  .flex-item
    a.strip(data-strip-caption='The 42nd President of the United States Bill Clinton', data-strip-options='side: "top"', data-strip-group='strip-group', href='img/slides/slide-5.jpeg')
      img#flex-img(src='img/slides/slide-5.jpeg')
  .flex-item
    a.strip(data-strip-caption='Poisonous Flowers Pretend To Be Beautiful', data-strip-options='side: "top"', data-strip-group='strip-group', href='img/slides/slide-6.jpeg')
      img#flex-img(src='img/slides/slide-6.jpeg')
