block stylesheets
    link(rel='stylesheet' href='css/logo.css')
#wrapper
    svg#logo.content-svg(data-name='Layer 1', xmlns='http://www.w3.org/2000/svg', viewbox='-20 -9 200 200', width='200', height='220')
        g.logo-group
            polygon#bottom-center.cls-3(points='42.4 110.04 63.6 146.77 84.81 110.04 42.4 110.04')
            g#bottom-left-group
                polygon#bottom-center-left.cls-4(points='21.2 73.31 42.41 110.04 63.61 73.31 21.2 73.31')
                polygon#bottom-left.cls-2(points='0 110.04 21.2 73.32 42.41 110.04 0 110.04')
            g#bottom-right-group
                polygon#bottom-right.cls-1(points='84.8 110.04 106.01 73.32 127.21 110.04 84.8 110.04')
                polygon#bottom-center-right.cls-5(points='63.6 73.31 84.81 110.04 106.01 73.31 63.6 73.31')
            polygon#middle-right.cls-6(points='63.6 73.37 84.81 36.65 106.01 73.37 63.6 73.37')
            g#top-middle-group
                polygon#middle-middle.cls-7(points='42.41 36.58 63.61 73.3 84.81 36.58 42.41 36.58')
                polygon#top-center.cls-8(points='42.41 36.72 63.61 0 84.81 36.72 42.41 36.72')
            polygon#middle-left.cls-9(points='21.2 73.31 42.41 36.58 63.61 73.31 21.2 73.31')
